
<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">New Auction</h5>
  </div>
  <div class="panel-body">

    <%= erb :'partials/_errors' if @errors %>

    <form class="form" action="/auctions" method="POST">
    <%= erb :'partials/_auctionform' %>
      <button class="btn btn-primary pull-right" type="submit">New</button>
    </form>
  </div> 
</div>
