<p>Hi <%= @user.username %>, here's your stuff</p>
<a href="/auctions/new">Create some new stuff! Fill our accounts with fees</a>



<%= erb :'partials/_activeauctions', :locals => {auctions: @user.auctions.active} %>
<%= erb :'partials/_completedauctions', :locals => {auctions: @user.auctions.complete} %>
<%= erb :'partials/_userbids', :locals => {bids: @user.bids} %>